doctype html
html
    head
        style.
            body {
                display: flex;
            }
            #formdiv {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                width: 50%
            }
            #todoLists {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 10px;
                overflow-y: auto
            }
            label {
                min-width: 100px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            form {
                border: 1px solid black;
                padding: 10px;
                font-family: sans-serif;
            }
            table, th, td {
                border: 1px solid black;
                text-align: center;
                margin: 10px;
                font-family: sans-serif
            }
    body
        div#formdiv
            h1 Create Todo
            form(action=`/api/users/${userId}/todos` method="post")
                label Title
                input(type="text" name="title")
                br
                label Due Date
                input(id="date" type="date" name="dueDate")
                br
                label isCompleted
                input(type="checkbox" name="isCompleted")
                br
                label Tags
                input(type="text" name="tags")
                input(type="submit" value="Create Todo" style={"display":"block"})
        
        div(style={"display": "flex","width": "50%", "flex-direction": "column","align-items": "center", "height": "97vh"})
            h1 Todos List
            div#todoLists
                table
                    tr
                        th Todo Title
                        th Actions
                    for todo in todos
                        tr
                            td=todo.title
                            td
                                a(href=`/api/users/${todo.userId}/todos/${todo.id}` target="_blank") View
                                p(id="updateTodo"  onclick='fetchTodoForUpdate("'+ todo.id +'" , "'+ todo.userId +'" )' style={"text-decoration":"underline", "color": "blue", "cursor":"pointer"}) Update
                                p(id="deleteTodo"  onclick='deleteTodo("'+ todo.id +'" , "'+ todo.userId +'" )' style={"text-decoration":"underline", "color": "red", "cursor":"pointer"}) Delete
        script. 
            async function deleteTodo(todoId, userId){ 
                console.log(todoId,userId)
                if(!confirm("Are you sure you want to delete?")){
                    return ;
                }
              try {
                   await fetch(`/api/todos/${todoId}`,{
                    method: 'DELETE'
               })
                window.location.href = `/api/users/${userId}/todos`;
              }catch(err){
                  alert("something went wrong")
              }
            }

             function fetchTodoForUpdate(todoId, userId){
                window.location.replace(`/api/users/${userId}/todos/${todoId}/update`)
            }
             function currentDate() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date()
                return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`
               
            }
            document.getElementById("date").value=currentDate();