doctype html
html
    head
        style.
            body {
                display: flex;
            }
            #formdiv {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                width: 50%
            }
            #todoLists {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 10px;
                overflow-y: auto
            }
            label {
                min-width: 100px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            form {
                border: 1px solid black;
                padding: 10px;
                font-family: sans-serif;
            }
            table, th, td {
                border: 1px solid black;
                text-align: center;
                margin: 10px;
                font-family: sans-serif
            }
            h1 {
                border-bottom: 1px solid black
            }
    body
        div#formdiv
            h1 Create Todo
            form(action=`/api/users/${userId}/todos?page=${page}` method="post")
                label Title
                input(type="text" name="title")
                br
                label Due Date
                input(id="date" type="date" name="dueDate")
                br
                label isCompleted
                input(type="checkbox" name="isCompleted")
                br
                label Tags
                input(type="text" name="tags")
                input(type="submit" value="Create Todo" style={"display":"block"})
        
        
        div(style={"display": "flex","width": "50%", "flex-direction": "column","align-items": "center", "height": "97vh"})
            h1 Todos List
            if JSON.parse(totalTodos).length> 0
                div#todoLists
                    table
                        tr
                            th Todo Title
                            th Actions
                        for todo in todos
                            tr
                                td=todo.title
                                td
                                    a(href=`/api/users/${todo.userId}/todos/${todo.id}` target="_blank") View
                                    p(id="updateTodo"  onclick='fetchTodoForUpdate("'+ todo.id +'" , "'+ todo.userId +'" )' style={"text-decoration":"underline", "color": "blue", "cursor":"pointer"}) Update
                                    p(id="deleteTodo"  onclick='deleteTodo("'+ todo.id +'" , "'+ todo.userId +'" )' style={"text-decoration":"underline", "color": "red", "cursor":"pointer"}) Delete
                if JSON.parse(totalTodos).length> 5
                    div(style={"display":"flex"})
                        a(href=`/api/users/${userId}/todos?page=${page-1}` style={"margin-right": "10px"} id="prev") prev
                        a(href=`/api/users/${userId}/todos?page=${page+1}` id="next") next
            else
                div No Todos Assigned For this user.
        script.
            var page = #{page}
            var todosList = !{totalTodos}
            var totalTodosInCurrentPage = !{totalTodosInCurrentPage}
            console.log("totalTodosInCurrentPage", totalTodosInCurrentPage)
            console.log("len",todosList.length)
            if(todosList.length> 5 && page === 1){
                document.getElementById("prev").style.pointerEvents = "none";
                document.getElementById("prev").style.cursor = "default";
                document.getElementById("prev").style.opacity = 0.2;
            }
            if(todosList.length> 5 && totalTodosInCurrentPage.length < 5){
                document.getElementById("next").style.pointerEvents = "none";
                document.getElementById("next").style.cursor = "default";
                document.getElementById("next").style.opacity = 0.2;
            }
            async function deleteTodo(todoId, userId){ 
                console.log(todoId,userId)
                if(!confirm("Are you sure you want to delete?")){
                    return ;
                }
              try {
                   await fetch(`/api/todos/${todoId}`,{
                    method: 'DELETE'
               })
                window.location.href = `/api/users/${userId}/todos`;
              }catch(err){
                  alert("something went wrong")
              }
            }

             function fetchTodoForUpdate(todoId, userId){
                window.location.replace(`/api/users/${userId}/todos/${todoId}/update`)
            }
             function currentDate() {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date()
                return `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`
               
            }
            document.getElementById("date").value=currentDate();